@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globais opcionais */
body {
  @apply bg-white text-gray-900 min-h-screen antialiased;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold;
}

button {
  @apply rounded-md font-medium transition-colors;
}
